{% extends 'base.html.twig' %}

{% block title %} Adminstration {% endblock %}

{% block monTitle %} Page d'administration {% endblock %}

{% block body %}
    <div class="form-actions ml-5">
        <a href="{{ path('admin_aliment_creation') }}">
            <button type="submit" class="btn btn-success"><span class="bi bi-plus-square"></span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Ajouter
            </button>
        </a>
        <a class="btn btn-primary" href="{{ path('aliments') }}"><span class="glyphicon glyphicon-arrow-left"></span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
            </svg>
            Retour </a>


    </div>
    <hr>
    <hr>
    <table class="table">
        <tr class="table-primary ">
            <td>Image</td>
            <td>Aliment</td>
            <td>Prix</td>
            <td>Calories</td>
            <td>Proteine</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Actions</td>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td><img src="{{ asset('images/'~aliment.image) }}" class="perso_imgAlimentAdmin img-thumbnail"
                         alt="alimentImg"></td>
                <td><strong> {{ aliment.nom }}</strong></td>
                <td> {{ aliment.prix }}</td>
                <td> {{ aliment.calorie }}</td>
                <td> {{ aliment.proteine }}</td>
                <td> {{ aliment.glucide }}</td>
                <td> {{ aliment.lipide }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('admin_aliment_modification',{'id' : aliment.id}) }}">Modifier</a>
                    <form method="POST" style="display: inline-block"
                          action="{{ path('admin_aliment_suppression', {'id' : aliment.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token("SUP" ~ aliment.id) }}">
                        <input type="submit" class="btn btn-danger" value="supprimer" onsubmit=" return confirm('Confirmer la suppression?')">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

