{% extends 'base.html.twig' %}

{% block title %} Adminstration Types {% endblock %}

    {% block monTitle %}
        <div class="container text-center"> Page d'administration des types</div> {% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="container">
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            </div>

        {% endfor %}
        <div class="form-actions ml-5">
            <a href="{{ path('ajoutTypes') }}">
                <button type="submit" class="btn btn-success"><span class="bi bi-plus-square"></span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                    Ajouter
                </button>
            </a>
            <a class="btn btn-primary" href=""><span
                        class="glyphicon glyphicon-arrow-left"></span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                </svg>
                Retour </a>


        </div>
        <hr>
        <hr>
        <table class="table">
            <tr class="table-primary ">
                <td>Image</td>
                <td>Type</td>
                <td>Actions</td>
            </tr>
            {% for type in types %}
                <tr>
                    <td><img src="{{ asset('images/types/'~type.image) }}"
                             class="perso_imgAlimentAdmin img-thumbnail"
                             alt="alimentImg"></td>
                    <td><strong> {{ type.libelle }}</strong></td>

                    <td>
                        <a class="btn btn-secondary"
                           href=" {{ path('modifTypes',{'id': type.id} ) }}">Modifier</a>
                        <form method="POST" style="display: inline-block" action="{{ path("supType", {'id': type.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                            <input type="submit" class="btn btn-danger" value="supprimer"
                                   onclick=" return confirm('Confirmer la suppression?')">

                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

